/* 
==========
Variables
==========
*/

:root {
  --a-clr-1: #f4f5f7;
  --a-clr-2: #0052cc;
  --a-clr-3: #ffbdf0;
  --a-clr-4: #42526e;
  --clr-primary: #253858;
  --clr-h5: #008da6;
  --clr-white: #fff;
  --clr-p: #091e42;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  ---radius: 0.5rem;
}

/* 
==========
Global Styles
==========
*/

@font-face {
  font-family: charlie-display-semibold;
  src: url(./CharlieDisplay/Charlie_Display-Semibold.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: charlie-display-semibold;
}

body {
  background-color: #fff;
  color: #091e42;
  font-size: 1rem;
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
  font-size: 1rem;
  /* padding: 0.3rem 0.95rem; */
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
/* icon {
  font-size: 1rem;
  padding: 1rem;
} */
ul {
  list-style: none;
}
.btn {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  height: 2.3em;
  line-height: 2.2;
  padding: 0 16px;
  transition: all 250ms;
  background: #0052cc;
  border: 1px solid #0052cc;
  color: #f4f5f7;
  font-weight: 500;
}
/* .clearfix{
    clear: both;
} */
/* 
==========
More Global CSS 
==========
*/

/* 
==========
Header 
==========
*/

.header {
  background: var(--clr-white);
  height: auto;
}
.header-div {
  margin: 0 auto;
  padding: 0 20px;
  height: 72px;
  max-width: 1200px;
  line-height: 72px;
}
.logo {
  margin-right: 12px;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.atlassian-pic {
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: text-bottom;
}
.a-logo {
  color: var(--a-clr-2);
}
.main-nav-left {
  display: flex;
  align-items: center;
  float: left;
}
.left-nav {
  float: left;
  margin-right: 2px;
}
.left-a {
  border-radius: 3px;
  color: #42526e;
  cursor: pointer;
  padding: 4px 25px 4px 14px;
}
.caret-down {
  display: inline-block;
  font-size: 1rem;
  font-size: 0.7rem;
  color: cornflowerblue;
}
.verticle-line {
  font-size: 2rem;
}
.main-nav-right {
  display: flex;
  float: right;
  min-height: 72px;
}
.nav-btn {
  display: flex;
}
.try-btn-link {
  color: #f4f5f7;
  font-weight: 500;
  background: #0052cc;
  padding: 0 16px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  height: 2.3em;
  line-height: 2.2;
  border: 1px solid #0052cc;
  transition: all 250ms;
}
.buy-btn-link {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  height: 2.3em;
  line-height: 2.2;
  padding: 0 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #0052cc;
  margin-right: 2px;
  transition: all 250ms;
}
.avtar-btn {
  padding: 0 8px;
  border-width: 0px;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  background: none;
  border-radius: 3px;
  cursor: default;
  height: 2.28571em;
  width: auto;
}
.bold-account {
  font-size: 14px;
  font-weight: 600;
}
.avtar-div {
  padding-left: 1rem;
}
/* .add-icon .left-link {
  padding: 0.2rem;
} */
/* .left-items {
  display: flex;
} */
/* .left-items li,
.right-items {
  padding: 0.8rem;
} */
/* .right-items li {
  padding: 0px 0.5rem;
}
.simple-a {
  color: #0052cc;
  font-size: 0.9rem;
}
.buynow-li {
  align-self: center;
} */
/* .logo {
  margin-right: 0.5rem;
} */
/* .right-items {
  display: flex;
} */
/* .left-link {
  color: var(--a-clr-4);
}
.left-link:hover {
  background: lightgray;
} */
/* .left-navbar,
.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.left-a:hover,
.buy-btn-link:hover,
.avtar-btn:hover {
  background: lightgray;
}
.account-btn:hover {
  cursor: pointer;
}
.account-icon {
  margin-right: 0.75rem;
}
.magnify {
  align-self: center;
}
.bold-account {
  font-weight: 600;
  padding-right: 0.2rem;
}
.caret-down-account {
  font-weight: 600;
  font-size: 0.6rem;
}
.simple-a {
  color: #0052cc;
  font-size: 0.9rem;
  align-self: center;
}
.mag-glass {
  display: inline-block;
  font-size: 1.2rem;
  color: rgba(211, 211, 211, 0.778);
}
.verticle-line {
  display: inline-block;
  font-size: 1.2rem;
  color: rgba(211, 211, 211, 0.778);
}
@media screen and (max-width: 1048px) {
  .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 670px) {
  ul {
    display: inherit;
  }
  .add-icon {
    padding: 0.25rem;
  }
  .right-items {
    padding-right: 0;
  }
}

/* 
==========
Hero section 
==========
*/

.hero {
  display: flex;
  width: 100%;
  background-image: url(https://wac-cdn-2.atlassian.com/image/upload/f_auto,q_auto/dam/jcr:0dafe928-f6b7-4315-8c04-8eb01710f825/hero_left_700x450px@2x.png?cdnVersion=760);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px 0;
  padding-left: 4rem;
  justify-content: center;
}
.hero-img {
  max-width: 100%;
  height: auto;
}
.hero-bgimg {
  width: 768px;
  height: 432px;
  margin-bottom: 1rem;
}
.hero-info {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 2rem;
  color: var(--clr-primary);
  align-self: center;
}

@media screen and (max-width: 1048px) {
  .hero {
    flex-wrap: wrap;
  }
}

/* 
==========
Content Divider 
==========
*/

.content-divider {
  height: 3rem;
  /* background: linear-gradient(90deg, #C477D9 0.02%, #403294 20.33%, #091E42 100%); */
}

/* 
==========
team section 
==========
*/

.team-section {
  /* position: relative; */
  /* background-color: #008da6; */
  width: 100%;
}
.team-section div {
  display: flex;
  background: linear-gradient(
    90deg,
    #c477d9 0.02%,
    #403294 20.33%,
    #091e42 100%
  );
  max-width: 48rem;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  padding: 2rem 1rem;
  margin: 0 auto;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: space-around;
}
.team-text {
  color: var(--clr-white);
  max-width: 22rem;
}
.reg-link {
  padding: 0;
  white-space: nowrap;
  color: var(--a-clr-3);
  font-weight: 600;
}

/*==========
 Solutions Section 
 ==========*/

.solution-div {
  display: flex;
  justify-content: center;
  margin: 24px 24px;
}
.single-management {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.solution-heading {
  margin: 2rem 0;
}

/* .management{
    height: 500px;
} */
a.mgmt-link {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}
.single-management li {
  border-radius: 2.5rem;
  border-color: #deebff;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #deebff;
  padding: 25px 30px;
}
.single-management li a {
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 1.25rem;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  background-color: #deebff;
  color: var(--a-clr-2);
  font-weight: 600;
}
.management {
  margin: 0 auto;
  max-width: 1200px;
}
.single-management .agile {
  color: var(--clr-white);
  background-color: #0065ff;
}
.single-management .agile-li {
  background-color: #0065ff;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.left-box {
  max-width: 50%;
  padding: 2rem;
}

.explore-heading {
  max-width: 26rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.explore-link {
  padding: 0;
  margin-bottom: 3rem;
  color: var(--a-clr-2);
}
.explore-link:hover {
  text-decoration: underline;
}
.single-section {
  display: flex;
  width: 70%;
  margin-bottom: 3rem;
  cursor: pointer;
}
.software-section {
  margin-top: 3rem;
}
.software-img {
  width: 42px;
  height: 42px;
}
.content {
  align-self: center;
}
.software-text {
  margin-top: 0.3rem;
}
.img-icon-software {
  background-color: lightgray;
  padding: 0.8rem;
  margin-right: 24px;
  transition: all 150ms ease-in-out;
  border-radius: 3px;
}
.single-section:hover .img-icon-software {
  background-color: #f4f5f7;
  box-shadow: 0 2px 14px 0 rgb(9 31 65 / 20%);
}
.teams-img {
  margin-bottom: 16px;
}
.team-link {
  padding: 20px;
  cursor: pointer;
}
.hover-image:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
}
/*
=========
 Customers 
=========
 */

a.customer-link:hover {
  text-decoration: none;
  color: #0065ff;
}
.customers {
  padding-bottom: 64px;
}
.customer-story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.3rem;
}
.linear-bg {
  background-image: linear-gradient(
    180deg,
    rgba(251, 251, 251, 0) 0.05%,
    #deebff 99.95%
  );
}
.play {
  display: inline-block;
  color: #0052cc;
  font-size: 1.25rem;
  cursor: pointer;
}
.teams-section {
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}
.team-heading {
  margin-bottom: 24px;
}
a.customer-link {
  color: var(--a-clr-2);
  font-weight: 500;
  padding: 0 0.3rem;
}
.team-images {
  margin: 0 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 16px;
}

/* ==========
Team Essentials Section 
   ==========
*/

.team-essentials {
  margin: 0 auto;
  /* background: #0052cc; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 64px 0;
}
.container-center {
  margin: 0 15rem;
  display: grid;
  grid-template-columns: repeat(3, 368px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "first second second"
    "three four five"
    "six seven eight";
  grid-gap: 2rem;
}
.team-essentials-heading {
  color: #008da6;
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: 800;
}
.team-essentials-heading2 {
  font-size: 2.25rem;
  line-height: 1.33;
  color: var(--clr-primary);
  text-align: initial;
  padding-right: 1rem;
}
.community-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.33;
  color: var(--clr-primary);
  letter-spacing: 0.3px;
  padding-top: 1rem;
  color: var(--clr-primary);
}
.community-text {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 24px;
  color: var(--clr-p);
  padding: 0 3rem;
}
.community-btn {
  color: var(--a-clr-2);
}
.community-btn1 {
  padding-right: 1.5rem;
}
.community-btn2 {
  padding-left: 1.5rem;
}
.community-links {
  display: flex;
  justify-content: center;
  width: 703px;
  margin-top: 14px;
  margin-bottom: 3rem;
  color: var(--clr-p);
  gap: 5rem;
}
.team-essentials-div {
  grid-area: first;
  text-align: center;
}
.single-image {
  grid-area: second;
  text-align: center;
  background: #ffebe5;
  text-align: -webkit-center;
  width: 768px;
}
.atlassian-community {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.team-essentials-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.third-image {
  grid-area: three;
  text-align: center;
  background: #eae6ff;
}
.third-img {
  width: 100%;
  object-fit: cover;
}
.fourth-image {
  grid-area: four;
  text-align: center;
  background: #ecfcff;
}
.fourth-img {
  width: 100%;
  object-fit: cover;
}
.fifth-image {
  grid-area: five;
  text-align: center;
  background: #deebff;
}
.fifth-img {
  width: 100%;
  object-fit: cover;
}
.six-link {
  padding: 0;
}
.fifth-text {
  font-size: 36px;
  margin-bottom: 24px;
  line-height: 1.33;
}
.six-link {
  color: var(--a-clr-2);
  font-size: 1rem;
}
.seven-image {
  grid-area: seven;
}
.seven-img {
  width: 100%;
  object-fit: cover;
}
.eight-image {
  grid-area: eight;
}
.eight-img {
  width: 100%;
  object-fit: cover;
}
.container-center div {
  border-radius: 3px;
}

/*==========
 Career Section 
 ===========
 */
.career {
  background-image: url(https://wac-cdn-2.atlassian.com/image/upload/f_auto,q_auto/dam/jcr:50b6fe06-dbe3-4c29-8a3a-92e5a9c59a67/careers%20image%20footer_left_540x450@2x.png?cdnVersion=772),
    url(https://wac-cdn-2.atlassian.com/image/upload/f_auto,q_auto/dam/jcr:6c830839-a420-4fe9-a735-5669ac605713/careers%20image%20footer%20right_540x450px@2x.png?cdnVersion=772);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.career {
  padding: 64px 0 96px 0;
}
.career-container {
  margin: 0 231.5px;
}

.career-div {
  text-align: center;
}
.career-heading {
  color: var(--clr-h5);
  font-size: 1rem;
  margin-bottom: 16px;
  padding-top: 18px;
}
.career-heading2 {
  color: var(--clr-primary);
  font-size: 48px;
  margin-bottom: 24px;
}
.career-text {
  color: var(--a-clr-4);
  font-size: 20px;
  padding-left: 32.5rem;
  padding-right: 31rem;
  margin: 0 0 24px 0;
  letter-spacing: 0.3px;
  line-height: 1.4;
}
.join-btn {
  background: var(--a-clr-2);
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid #0052cc;
  color: #fff;
  height: 40px;
  line-height: 38px;
  padding: 0 16px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  transition: all 250ms;
  cursor: pointer;
}
.join-btn:hover {
  background: #0047b3;
  border-color: #0047b3;
  color: #fff;
}
/*
==========
Footer Section 
==========
*/
.footer {
  background: #f4f5f7;
  padding: 16px 0;
}
.div-footer {
  margin: 0 231.5px;
}
.footer-top > div {
  padding: 16px;
}
.footer-top {
  display: flex;
  column-gap: 4.65rem;
}
.footer-picture {
  width: 125px;
  object-fit: cover;
  display: inline-block;
}
.img-footer {
  color: #42526e;
  font-size: 0.875rem;
  line-height: 1.125;
  margin-bottom: 0;
  display: block;
  cursor: pointer;
  max-width: 207px;
  max-height: 31px;
}
.footer-img {
  margin-left: 120px;
}

.footer-heading-div .footer-heading {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--a-clr-4);
  line-height: 1.25;
  font-weight: 700;
}
.navlinks .plain-footer {
  margin-top: 16px;
}
.navlinks li a {
  color: var(--a-clr-4);
  font-size: 0.875rem;
  line-height: 1.125;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.navlinks li p .footer-text {
  color: var(--a-clr-2);
  font-size: 0.875rem;
  line-height: 1.125;
}
.footer-heading-div {
  padding: 0;
}
.navlinks > li {
  line-height: 1.5;
}

/*
==========
copyright footer 
==========
*/

.copyright {
  background: #f4f5f7;
  border-top: 1px solid #dfe1e5;
}
.copyright-footer {
  margin: 0 231.5px;
}
.earth {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: var(--a-clr-4);
}
.caret {
  display: inline-block;
  height: 6px;
  width: 6px;
  color: var(--a-clr-4);
}
.copyright-footer-div a,
.copyright-footer-div p {
  color: var(--a-clr-4);
  font-size: 14px;
}
i.fb,
i.twitter,
i.in,
i.yt {
  display: inline-block;
  color: var(--a-clr-4);
  font-size: 2rem;
}
i.fb {
  color: #2962ff;
}
i.twitter {
  color: rgb(29, 155, 240);
}
i.in {
  color: #1a0dab;
}
i.yt {
  color: red;
}
.copyright-footer-div {
  display: flex;
  margin: 0 6rem;
  align-items: center;
  padding: 16px;
}
.social-btns ul {
  display: flex;
  margin-left: 18.5rem;
  margin-right: 0;
  gap: 0.2rem;
}
.copyright-footer-div > div,
.impressum-btn {
  margin-right: 30px;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-text-link:hover {
  text-decoration: underline;
}
